.instructions {
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.instructions h2, .instructions h4 {
    color: #463489;
    font-weight: 600;
}

h4 {
    font-size: 2.2vw;
    font-weight: 600;
}


.instr_title {
    width: 50vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.instr_title h2 {
    font-weight: 600;
}

.instr_title img {
    width: 2.5vw;
    height: 100%;
    margin-right: 5px;
}

.bold{
    font-weight: bold;
    padding-right: 10px;
}

.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

.up_right {
    display: flex;
    flex-direction: column;
    margin-bottom: 7vw;
}




.img1{
    width: 45vw;
    height: 23vw;
}

.img2{
    position: absolute;
    width: 45vw;
    left: 45vw;
    height: 20vw;
    top: -1vw;
}

.img3{
    position: relative;
    left: 5vw;
    height: 30vw;
    width: 45vw;
}
.up_right .top,.bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.up_right h4{
    width: 40vw;
}

.top > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3vh;
    width: 40vw;
}

.bot > div {
    width: 40vw;
}

.right {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vw;
}

.right h4 {
    position: relative;
    margin-bottom: 3vw;
}

.num1{
    left: -3vw;
    top: -1vw;
}

.num2 {
    position: absolute;
    top: 7vw;
    left: -3vw;
}

.num3{
    position: absolute;
    top: -3vw;
    left: -3vw;
}

.sec2{
    margin-top: 18vw;
    margin-bottom: 12vw;
}
.left {
    display: flex;
    flex-direction: row;
    margin-bottom: 15vh;
}

.left h4 {
    margin-bottom: 2vw;
}


.subheader {
    font-weight: 600;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.long{
    width: 90vw;
}
.bot_right_1{
    margin-top: 4.5vw;
}

/* ================================== */

.lets_go {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 7vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.lets_go .bg_num{
    top: 15vw;
    left: -40vw;
    color: white;
    opacity: 0.2;
}

.lets_go img {
    width: 66vw;
}

.lets_go h4, .lets_go h1 {
    color: white;
    margin: 5vh;
    font-weight: 600;
}

.blue {
    color: #00DAA9;
    font-weight: 500;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.split_half {
    width: 35vw;
}

.intro_section h1 {
    width: 50vw;
}

.coverImg {
    top: 80vw;
}

.bg_img {
    position: relative;
}

@media (max-width: 720px) {
    .sec2{
        margin-top: 17vw;
    }
    .num3{
        top: -9vw;
    }
    .instr_title {
        padding-bottom: 10vw;
        width: 90vw;
    }

    .instr_title h2 {
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .up_right .top {
        flex-direction: column-reverse;
        align-items: center;
    }

    .top div {
        flex-direction: row;
        width: 100vw;
        justify-content: flex-start;
    }

    .top h4 {
        width: 80vw;
    }

    .up_right .bot {
        flex-direction: column;
    }

    .up_right .bot div {
        width: 90vw;
    }

    .bg_img {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bg_num {
        top: -20vw;
        font-size: 70px;
    }

    .num1 {
        left: 5vw;
    }

    .num2 {
        position: relative;
        top: 5vw;
        left: -5vw;
    }

    .img2 {
        position: relative;
        width: 65vw;
        top: 5vw;
        left: -8vw;
        height: auto;
    }

    .sec2 {
        margin-top: 3vw;
        margin-bottom: 0px;
    }

    .num3{
        position: relative;
        top: 20vw;
        left: -35vw;
    }

    .right {
        flex-direction: column-reverse;
        align-items: center;
    }

    .img3 {
        height: auto;
        width: 65vw;
        left: 0px;
    }

    h4 {
        font-size: 20px;
    }

    .lets_go .bg_num {
        left: -35vw;
    }

    .lets_go > h1, .lets_go > h4 {
        margin: 0vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .split {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .split_half {
        width: 80vw;
        margin-bottom: 5vw;
    }

    .intro_section h1 {
        width: 90vw;
    }
}
