.instructions {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.instructions h2, .instructions h4 {
    color: #463489;
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

.instr_title {
    width: 50vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.instr_title h2 {
    font-weight: 600;
}

.instr_title img {
    width: 2.5vw;
}

.bold{
    font-weight: bold;
    padding-right: 10px;
}

.bg_num {
    font-size: 150px;
    position: relative;
    line-height: 70px;
    opacity: 0.1;
    font-weight: 600;
}

.up_right .bg_num {
    top: 50px;
    left: -35px;
}

.up_right {
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
}

.instructions img {
    max-width: 45vw;
}

.up_right .top,.bot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3vh;
    width: 30vw;
}

.bot > div {
    width: 40vw;
}

.right {
    display: flex;
    flex-direction: row;
    margin-bottom: 15vh;
}

.right h4 {
    margin-bottom: 5vh;
}

.right .bg_num {
    top: -300px;
    left: -35px;
}

.left {
    display: flex;
    flex-direction: row;
    margin-bottom: 15vh;
}

.left h4 {
    margin-bottom: 5vh;
}

.left .bg_num {
    top: -300px;
    left: -35px;
}

.subheader {
    font-weight: 500;
}

/* ================================== */

.lets_go {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 10vh;
}

.lets_go .bg_num{
    top: 150px;
    left: -40vw;
    color: white;
    opacity: 0.2;
}

.lets_go img {
    width: 66vw;
}

.lets_go h4, .lets_go h2 {
    color: white;
    margin: 5vh;
    font-weight: 600;
}

.blue {
    color: #00DAA9;
    font-weight: 500;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.split_half {
    width: 40vw;
}

.intro_section h1 {
    width: 40vw;
}

.coverImg {
    top: 0px;
}
