.instructions {
    background-color: #F6EDE1;
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 1.2;
    height: auto;
    overflow: hidden;
}

.intro_section h1 {
    width: 70vw;
    margin-bottom: 2.5vw;
}

.intro_left p{
    max-width: 45vw;
}

.coverImg {
    top: 87vw;
}


.instructions h2, h4, .red, .red_text{
    color: #FF604E;
    font-family: "montserrat-medium";
}

h4 {
    font-size: 3vw;
    font-weight: 600;
}

.instr_title {
    width: 52vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.instr_title h2 {
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 1.2;
    margin-bottom: 2vw;
}


.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

.sec_1 .bg_num {
    top: 7vw;
    left: 0;
    height: auto;
}

.sec_1{
    width: 90vw;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.top{
    position: relative;
    height: auto;
    width: 30vw;
}
.top .ss1{
    position: absolute;
    width: 53vw;
    top: 10vw;
    left: 40vw;
    padding-top: 0;
}


.left{
    position: relative;
    float: left;
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    /*top: 10vw;*/
    margin-top: 8vw;
    left: 5vw;
}

h4{
    font-weight: 600;
    font-size: 2.2vw;
}


.horizontal_line {
    border-bottom: 0.15vw solid #FF604E;
    width: 70%;
    margin-top: 1.5vw;
    margin-bottom: 10px;
}

.below_red{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    color: #FF604E;
    width: 40vw;
    font-family: "Montserrat-bold";
    font-weight: 100;

}

.below_black{
    margin-top: 1.5vw;
    margin-bottom: 0vw;
    margin-left: 0vw;
    font-weight: 400;
    float:left;
    display: flex;
    width: 40vw;
}

.right{
    position: relative;
    float: left;
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40vw;
    left: 5vw;
    
}



/*
//////////////////////////////////
//////// Section 2    ///////////
/////////////////////////////////
*/



.sec_2{
    position: relative;
    width: 100vw;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.sec_2 .top{
    position: relative;
}

.sec_2 .bg_num{
    left: -5vw;
    top: 5vw;
}

.sec_2 .bot{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    width: 52vw;
    margin-top: 5vw;
    display: flex;
    flex-wrap: wrap;

}

.sec_2 .horizontal_line{
    width: 70%;
}

.sec_2 h4{
    position: relative;
    font-weight: 600;
    font-size: 2.2vw;
    opacity: 1;
    width: 35vw;
    top: 5vw;
}

.left .ss2{
    z-index: 2;
    position: absolute;
    width: 55vw;
    top: -10vw;
    left: 38vw;

}

.left .ss2_mini{
    display: none;
}

.sec_2 .logo_img{
    z-index: 1;
    position: absolute;
    width: 60vw;
    height: 80vw;
    top: -10vw;
    left: 50vw;
    opacity: 1;
}



@media (max-width: 720px) {
    .instructions {
        height: auto;
        padding-top: 10vw;
    }

    .intro_left p {
        max-width: 80vw;
    }

    .instr_title {
        padding-bottom: 0px;
        width: 70vw;
    }

    .instr_title h2 {
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .logo_img{
        display: none;
    }

    .bg_num {
        top: 20vw;
        font-size: 70px;
    }

    h4 {
        font-size: 20px;
    }

    .sec_1 .ss1{
        position: relative;
        width: 70vw;
        left: 10vw;
        top: 0vw;
    }

    
    .left, .right{
        position: relative;
        /*float: none;*/
        width: 90vw;
        top: 0px;
        margin-top: 0;
    }

    .sec_2 {
        top: 0vw;
        position: static;
        width: 90vw;
        margin-top: 5vw;
    }

    .sec_2 h4 {
        top: 0vw;
        font-size: 20px;
        width: 90vw;
        margin-top: 5vw;
    }

    .sec_2 .ss2{
        display: none;
    }

    .sec_2 .ss2_mini{
        display: inline-block;
        width: 70vw;
        position: relative;
        margin-top: -13vw;
        left: 5vw;
    }

    .sec_2 .bot {
        top: 0vw;
        width: 85vw;
        margin-top: 0vw;
    }


    .below_red {
        width: 85vw;
    }

    .below_black {
        width: 80vw;
    }

}


