.instructions {
    padding-top: 10vw;
}

.bold{
    font-weight: bold;
}

.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

h2 {
    font-weight: 600;
}

h4 {
    font-size: 2.2vw;
    font-weight: 600;
}

.num1{
    top: 5vw;
}

.num3{
   top: 5vw;
}

.instr_title {
    width: 50vw;
    padding-bottom: 10vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.instr_title img {
    width: 2.5vw;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 7vw;
    align-items: center;
}

.section img {
    max-width: 33vw;

}

.textSide {
    width: 57vw;
}

.botText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leftCol {
    min-width: 15vw;
}

@media (max-width: 720px) {
    .instr_title {
        padding-bottom: 10vw;
        width: 70vw;
    }

    .instr_title h2 {
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .section {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .section img {
        max-width: 50vw;
    }

    .bg_num {
        bottom: 85vw;
    }

    .textSide {
        width: 80vw;
    }

    #text2 {
        flex-direction: column-reverse;
    }

    #bg_num2 {
        bottom: 95vw;
    }

    #bg_num3{
        bottom: 50vw;
    }

    h4 {
        font-size: 20px;
    }

}
