.instructions {
    padding-top: 10vh;
}

.bold{
    font-weight: bold;
}

.bg_num {
    font-size: 150px;
    position: relative;
    line-height: 70px;
    opacity: 0.1;
    font-weight: 600;
    bottom: 45vh;
}

h2 {
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

.instr_title {
    width: 50vw;
    padding-bottom: 20vh;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.instr_title img {
    width: 2.5vw;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10vh;
    align-items: center;
}

.section img {
    max-width: 33vw;

}

.textSide {
    width: 57vw;
}

.botText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leftCol {
    min-width: 15vw;
}

@media (max-width: 720px) {
    .top_step_nav {
        margin-top: 4vw;
    }
    .top_step_nav > a {
        font-size: 100px;
    }
    .ss_num {
        font-size: 70px;
        top: -12vw;
    }
    h1 {
        font-size: 25px;
    }
    h4 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
        line-height: 20px;
    }

    .split_section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-bottom: 5vw;
    }

    .intro_left {
        width: 80vw;
    }

    .coverImg {
        display: none;
    }

    .download_button img{
        width: 5vw;
    }

    .instr_title {
        padding-bottom: 10vw;
        width: 70vw;
    }

    .instr_title h2 {
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .section {
        flex-direction: column;
        padding-bottom: 0px;
    }

    .section img {
        max-width: 50vw;
    }

    .bg_num {
        bottom: 85vw;
    }

    .textSide {
        width: 80vw;
    }

    #text2 {
        flex-direction: column-reverse;
    }

    #bg_num2 {
        bottom: 95vw;
    }

    #bg_num3{
        bottom: 50vw;
    }

}
