.instructions {
    background-color: rgb(245, 245, 245);
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 1.2;
}


.instructions h2, h4, .purple, .purple_text{
    color: #463489;
    font-weight: 500;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

.instr_title {
    width: 48vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.instr_title h2 {
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 1.2;
    margin-bottom: 2vw;
}

.instr_title img {
    width: 2.5vw;
}

.bold{
    font-weight: bold;
    padding-right: 10px;
}

.bg_num {
    font-size: 150px;
    position: relative;
    line-height: 70px;
    opacity: 0.1;
    font-weight: 600;
}

.sec_1 .bg_num {
    top: 10vw;
    left: 0;
}


.sec_1{
    width: 90vw;
    margin-bottom: 10vw;
}

.left{
    width: 30vw;
}
.left .ss1{
    position: relative;
    width: 45vw;
    top: 4vw;
    left: -3.5vw;
}

.right{
    float: right;
    width: 52vw;
    margin-top: -33vw;
    display: flex;
    flex-wrap: wrap;
}

.right h4{
    font-weight: 600;
    font-size: 2.2vw;
}


.horizontal_line {
    border-bottom: 1px solid #00DAA9;
    width: 100%;
    margin-top: 1.5vw;
    margin-bottom: 10px;
}

.below_blue{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    color: #00DAA9;
    width: 10vw;
    font-family: "Montserrat-bold";
    height: 7vw;
}

.below_black{
    margin-top: 1.5vw;
    margin-bottom: -2vw;
    margin-left: 2vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 36vw;

}


/*
//////////////////////////////////
//////// Section 2    ///////////
/////////////////////////////////
*/


.bot{
    float: right;
    width: 52vw;
    margin-top: -33vw;
    display: flex;
    flex-wrap: wrap;
}

.bot h4{
    font-weight: 600;
    font-size: 2.2vw;
}

.left .ss2{
    position: relative;
    width: 60vw;
    top: -35vw;
    left: 45vw;
}

.sec_2{
    margin-top: 20vw;
    position: relative;
}
.sec_2 .left{
    width: 48vw;
    height: 25vw;
}

.sec_2 .left h4{
    position: relative;
    margin-left: 6vw;
    top: 4vw;
    font-weight: 600;
    font-size:2.4vw;
}

.sec_2 .horizontal_line{
    position: relative;
    top: 4vw;
    left: 6vw;
    width: 96%;
    margin-bottom: 0;
}

.sec_2 .bot_container{
    margin-top: -5vw;
    margin-left: 6.5vw;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    height: 50vw;
}

.sec_2 .bot{
    margin-top: 0vw;
    width: 61vw;

}
.sec_2 p{
    max-height: 5vw;
}

.sec_2 .below_blue{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    color: #00DAA9;
    width: 10vw;
    font-family: "Montserrat-bold";
    height: 7vw;
}

.sec_2 .below_black{
    margin-top: 1.5vw;
    margin-left: 2vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 41vw;
    max-height: 5vw;
}

/*
////////////////////////////////
//////////// Section 3  ////////
////////////////////////////////
*/


.sec_3{
    position: relative;
    width: 100vw;
    height: 60vw;
    margin-bottom: 10vw;
    /*max-height: 550pt;*/
}

.sec_3 h4{
    width: 35vw;
}

.sec_3 .ss3{
    position: relative;
    width: 55vw;
    left: -12vw;
    top: -11vw;
}

.sec_3 .top{
    position: relative;
    width: 30vw;
}

.sec_3 .right{
    position: relative;
    top: -7vw;
    left: -5vw;
    /*height: 40vw;*/
}

.sec_3 .below_black{
    margin-top: 1.5vw;
    margin-bottom: -2vw;
    margin-left: 4vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 32vw;
}

.neutral_bg {
    background-color: rgb(245, 245, 245);
}


@media (max-width: 900px) {
    .sec_3{
        margin-bottom: 14vw;
    }
}

@media (max-width: 700px) {
    .sec_3{
        height: 70vw;
    }
}


@media (max-width: 500px) {
    .sec_3{
        height: 80vw;
    }
}

@media (max-width: 350px) {
    .sec_3{
        height: 90vw;
    }
}