.instructions {
    padding-top: 8vw;
}

.bold{
    font-weight: bold;
}

.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

.num1 {
    position: relative;
    top: 15vw;
    left: 10vw;
}

.num2 {
    left: 12vw;
    top: 11vw;
}

h2 {
    font-weight: 600;
}

h4 {
    font-size: 2.2vw;
    font-weight: 600;
}

.instr_title {
    width: 50vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img1{
    position: relative;
    width: 60vw;
}

/*.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10vh;
    align-items: center;
}

.section img {
    max-width: 33vw;

}

.textSide {
    width: 57vw;
}

.botText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.botText > p {
    min-width: 15vw;
}

#text3 .textSide {
    width: 50vw;
}*/

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 > h4 {
    width: 100%;
}

.horizontal_line_orange {
    margin-top: 2.5vw;

}

.split_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.split_text > div {
    width: 40vw;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.img2{
    width: 60vw;
}

.text2 {
    width: 35vw;
    position: relative;
    left: 50vw;
    top: 15vw;
}

.text2 .coral{
    font-size: 2.2vw;
}

@media (max-width: 720px) {
    .instr_title {
        padding-bottom: 0px;
        width: 90vw;
    }

    .instr_title h2 {
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .bg_num {
        font-size: 70px;
    }

    .num1 {
        left: 0vw;
    }

    .num2 {

    }

    .section1 > h4 {
        font-size: 20px;
    }

    .split_text {
        flex-direction: column;
    }

    .split_text > div {
        width: 90vw;
        margin-bottom: 5vw;
    }

    .section2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .top {
        flex-direction: column;
    }

    .text2 {
        position: static;
        width: 90vw;
    }

    .text2 .coral {
        font-size: 20px;
    }

    .num2 {
        left: 0vw;
        top: -80vw;
    }
}
