.instructions {
    background-color: #F6EDE1;
    padding-top: 10vw;
    padding-bottom: 5vw;
    line-height: 1.2;
}

.download_section {
    padding-top: 10vw;
}

.coverImg {
    top: 78vw;
    left: 60vw;
    width: 31vw; 
}

.instructions h2, h4, .blue, .blue_text{
    color: #00DAA9;
    font-weight: 600;
    font-family: "montserrat-medium";
}

h4 {
    font-weight: 600;
}

.instr_title {
    width: 50vw;
    line-height: 1.2;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.instr_title h2 {
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 1.2;
    margin-bottom: 2vw;
}


.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

.sec_1 .bg_num {
    top: 10vw;
    left: 0;
}


.sec_1{
    width: 90vw;
    margin-bottom: 10vw;
}

.left{
    width: 30vw;
}
.left .ss1{
    position: relative;
    width: 40vw;
    height: auto;
    top: 4vw;
    left: -3.5vw;
    padding-top: 0;
    overflow: visible !important;
}


.right{
    float: right;
    width: 52vw;
    margin-top: -10vw;
    display: flex;
    flex-wrap: wrap;
}

.right h4{
    font-size: 2.2vw;
}


.horizontal_line {
    border-bottom: .15vw solid #00DAA9;
    width: 100%;
    margin-top: 1.5vw;
    margin-bottom: 10px;
}

.below_blue{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    color: #00DAA9;
    width: 10vw;
    font-family: "Montserrat";
    height: 7vw;
    font-weight: 500;
}

.below_black{
    margin-top: 1.5vw;
    margin-bottom: 0vw;
    margin-left: 2vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 36vw;
}



/*
//////////////////////////////////
//////// Section 2    ///////////
/////////////////////////////////
*/

.sec_2 .bg_num{
    top: 3vw;
}

.sec_2 .bot{
    float: right;
    width: 52vw;
    display: flex;
    flex-wrap: wrap;
}

.sec_2 .bot h4{
    font-weight: 600;
    font-size: 2.2vw;
}

.ss2_mini{
    display: none;
}

.ss2{
    position: relative;
    width: 50vw;
    top: -10vw;
    left: 45vw;
}

.sec_2{
    margin-top: 35vw;
    margin-bottom: 30vw;
    position: relative;
}
.sec_2 .left{
    width: 48vw;
    height: auto;
}

.sec_2 .left h4{
    position: relative;
    margin-left: 6vw;
    top: -1vw;
    font-size:2.4vw;
    margin-top: 4vw;
}

.sec_2 .horizontal_line{
    position: relative;
    left: 6vw;
    width: 96%;
    margin-bottom: 0;
}

.sec_2 .bot_container{
    margin-top: -27vw;
    margin-left: 1vw;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}

.sec_2 .bot{
    margin-top: 0vw;
    width: 61vw;

}

.sec_2 .below_blue{
    margin-top: 1.5vw;
    width: 10vw;
    height: 7vw;
}

.sec_2 .below_black{
    margin-top: 1.5vw;
    margin-left: 2vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 30vw;
}

/*
////////////////////////////////
//////////// Section 3  ////////
////////////////////////////////
*/


.sec_3{
    position: relative;
    width: 100vw;
    height: 50vw;
    margin-top: 20vw;
}

.sec_3 .ss3{
    position: relative;
    width: 70vw;
    left: -20vw;
    top: -35vw;
}

.sec_3 .top{
    position: relative;
}

.sec_3 .bg_num{
    left: 55vw;
    top: -15vw;
}

.sec_3 .right{
    position: relative;
    top: -40vw;
    left: 15vw;
    height: 1vw;
    margin-bottom: 0vw;
}

.sec_3 h4{
    width: 28vw;
}

.sec_3 .horizontal_line{
    position: relative;
    top: -2vw;
    left: 0;
    width: 90%;
    margin-bottom: 0;
}

.bot{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 90vw;
    height: 20vw;
    margin-top: -32vw;
    margin-left: 5vw;
}

.bot .text_container{
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
}

.bot .text_container .below_blue{
    display: flex;
    width: 40vw;
    height: 3vw;
    margin-top: 0vw;

}

.bot .text_container .below_black{
    float: left;
    width: 37vw;
    margin-left: 0;

}

@media (max-width: 720px) {
    .instr_title {
        padding-bottom: 0px;
        width: 90vw;
    }

    .instr_title h2 {
        margin-top: 10vw;
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .bg_num {
        font-size: 70px;
        top: 10vw;
    }

    .num1 {
        left: -40vw;
    }

    .section h4 {
        font-size: 20px;
    }

    .sec_1{
        position: relative;
        height: auto;
        margin-bottom: 10vw;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .sec_1 h4{
        font-size: 20px;
    }

    .sec_1 .left{
        width: 100vw;
    }

    .sec_1 .right{
        width: 90vw;
        margin-top: 0;
    }

    .sec_1 .container{
        height: auto;
    }
    .sec_1 .container2{
        height: auto;
    }


    .below_blue{
        width: 90vw;
        height: auto;
        margin-top: 3vw;
    }

    .below_black{
        width: 90vw;
        margin-top: 3vw;
        margin-left: 0vw;

    }

    .left .ss1{
        position: relative;
        left: 10vw;
        padding-top: 0;
        margin-bottom: 8vw;
        width: 70vw;
        left: 10vw;
    }

    .sec_2{
        height: auto;
        margin-top: 0vw;
        margin-bottom: 0vw;
        padding-bottom: 5vw;
        overflow-y: visible;
    }

    .sec_2 .left{
        padding-top: 5vw;
        width: 90vw;
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }


    .sec_2 .right{   
        margin-top: 0;
    }

    .sec_2 .bg_num{
        width: 100vw;
    }

    .sec_2 .left h4{
        height: auto;
        font-size: 20px;
        padding-top: 5vw;
        margin-left: 0vw;
        width: 80vw;
    }

    .sec_2 .horizontal_line{
        margin-left: -5vw;
    }


    .ss2_mini{
        display: inline-block;
        position: relative;
        left: 8vw;
        width: 70vw;
    }

    .ss2{
        display: none;
    }

    .sec_2 .bot_container{
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        overflow-y: visible;
        margin-top: 0;
        width: 90vw;
    }

    .sec_2 .bot{
        height: auto;
        overflow-y: visible;
        width: 90vw;
        margin-left: 0vw;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .sec_2 .below_blue{

        width: 90vw;
        height: auto;
        overflow-y: visible;
        margin-bottom: 0vw;
        margin-top: 3vw;
    }

    .sec_2 .below_black{
        width: 90vw;
        height: auto;
        overflow-y: visible;
        margin-left: 0vw;
        margin-top: 3vw;

    }
    
    .sec_3{
        margin-top: 0;
        padding-top: 5vw;
        height: auto;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .sec_3 .top{
        margin-top: 10vw;
        height: auto;
    }

    .sec_3 .bg_num{
        left: 0;
        top: 0;
    }

    .sec_3 .ss3{
        top: 0;
        left: 10vw;
        width: 70vw;
    }

    .sec_3 h4{
        font-size: 20px;
        width: 80vw;
        height: auto;
    }

    .sec_3 .right{
        top: 0;
        left: 0;
        width: 80vw;
        height: auto;
        float: left;
        margin-top: 0;
    }

    .sec_3 .bot{
        height: auto;
        margin-left: 0;
        margin-top: 5em;
    }

    .sec_3 .bot .text_container{
        width: 80vw;
        height: auto;
    }

    .sec_3 .bot .text_container .below_blue{

        width: 90vw;
        height: auto;
        margin-bottom: 0vw;
        margin-top: 3vw;
    }

    .sec_3 .bot .text_container .below_black{
        width: 98vw;
        height: auto;
        margin-left: 0vw;
        margin-top: 3vw;
    }
}
