.instructions {
    padding-top: 10vw;
    padding-bottom: 5vw;
    line-height: 1.2;
}

.neutral_bg {
    background-color: #F6F6F6;
}

.bold{
    font-weight: bold;
}

.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

.num1 {
    top: 5vw;
    left: 5vw;
}

.num2 {
    position: relative;
    top: 4vw;
}

.num3 {
    top: 7vw;
}

h2 {
    font-weight: 600;
}

h4 {
    font-size: 2.2vw;
    font-weight: 600;
}

.instr_title {
    width: 50vw;
    padding-bottom: 10vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.instr_title img {
    width: 2.5vw;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 3vw;
}

.section img {
    position: relative;
    width: 50vw;
}

.textSide {
    width: 57vw;
}

.section1{
    margin-top: 0vw;
}
.section2{
    /*margin-left: 20vw;*/
    width: 80vw;
    overflow-x: visible;
    justify-content: start;
}


.section3text{
    position: relative;
    width: 54vw;
    left: 4vw;
}

.botText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leftCol {
    width: 17vw;
}

.rightCol {
    width: 25vw;
}

@media (max-width: 720px) {
    .instr_title {
        padding-bottom: 0px;
        width: 90vw;
    }

    .instr_title h2 {
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .bg_num {
        font-size: 70px;
        top: 10vw;
    }

    .section {
        flex-direction: column;
        align-items: center;
    }

    .section h4 {
        font-size: 20px;
    }

    .textSide {
        width: 90vw;
    }

    .num1 {
        left: 0vw;
    }

    .botText {
        flex-direction: column;
        align-items: center;
    }

    .section2 {
        flex-direction: column-reverse;
        margin-left: 0px;
    }

    .section2 .textSide{
        margin-left: auto;
    }

    .section3 {
        margin-left: 3vw;
    }

    .rightCol {
        width: 90vw;
    }

    .leftCol {
        width: 90vw;
    }
}
