.instructions {
    background-color: #F6EDE1;
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 1.2;
}

.coverImg {
    width: 33vw;
    left: 58vw;
    top: 90vw;
}


.instructions h2, h4, .orange_text{
    color: #FF9B2A;
    font-family: "montserrat-medium";
}

h1{
    width: 55vw;
}

h4 {
    font-weight: 600;
}


.instr_title {
    width: 49vw;
    margin-bottom: 10vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.instr_title h2 {
    color: #FF604E;
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 1.2;
    margin-bottom: 2vw;
}


.instr_title p{
    font-family: "montserrat";
    padding-top: .3vw;
    margin-left: .3vw;
    margin-bottom: 1vw;
}


.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

.sec_1 .bg_num {
    top: 10vw;
    left: 0;
}


.sec_1{
    margin-top: -5vw;
    width: 90vw;
    margin-bottom: 25vw;
}

.left{
    width: 30vw;
}
.left .ss1{
    position: relative;
    width: 70vw;
    top: 0vw;
    left: -20vw;
    padding-top: 0;
}


.right{
    float: right;
    width: 52vw;
    margin-top: -35vw;
    display: flex;
    flex-wrap: wrap;
}

.right h4{
    font-weight: 600;
    font-size: 2.2vw;
}


.horizontal_line {
    border-bottom: .15vw solid #FF9B2A;
    width: 100%;
    margin-top: 1.5vw;
    margin-bottom: 10px;
}

.sec_1 .container{
    margin-bottom: 3vw;
    height: 31vw;
}

.below_orange{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    color: #FF9B2A;
    width: 12vw;
    font-family: "Montserrat-semibold";
    height: 12vw;
    font-weight: 300;
}

.below_black{
    margin-top: 1.5vw;
    margin-left: 2vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 37vw;
}



/*
//////////////////////////////////
//////// Section 2    ///////////
/////////////////////////////////
*/

.sec_2{
    position: relative;

    margin-bottom: -30vw;
}

.sec_2 .bot{
    float: right;
    width: 52vw;
    margin-top: -33vw;
    display: flex;
    flex-wrap: wrap;
}

.ss2_mini{
    display: none;
    position: relative;
    width: 47vw;
    top: -15vw;
    left: 50vw;
}

.ss2{
    position: relative;
    width: 47vw;
    top: -15vw;
    left: 50vw;
}

.sec_2 .left{
    width: 53vw;
}

.sec_2 .left h4{
    position: relative;
    margin-left: 6vw;
    font-weight: 600;
    font-size:2.2vw;

}

.sec_2 .horizontal_line{
    position: relative;
    left: 6vw;
    width: 86%;
    margin-bottom: 0;

}

.sec_2 .bot_container{
    margin-left: 6.5vw;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    height: 35vw;

}

.sec_2 .bot{
    margin-top: 0vw;
    width: 50vw;

}

.sec_2 .below_orange{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    width: 11vw;
    font-family: "Montserrat-bold";
    height: 7vw;
    margin-bottom: 9vw;
}

.sec_2 .below_black{
    margin-top: 1.5vw;
    margin-left: 2vw;
    font-weight: 400;
    float:left;
    display: flex;
    width: 32vw;
}

/*
////////////////////////////////
//////////// Section 3  ////////
////////////////////////////////
*/

.congrats{
    background-color: #FF604E;
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 1.2;
    height: 60vw;
}


.congrats h2, .congrats h4, .congrats .white_text{
    color: white;
    font-family: "montserrat-bold";
}


.sec_3{
    position: relative;
    width: 100vw;
    height: 20vw;
    margin-top: -5vw;
}

.sec_3 .ss3{
    position: relative;
    width: 90vw;
    top: -10vw;
    margin: auto;
}

.sec_3 .top{
    position: relative;
}

.sec_3 .bg_num{
    color: white;
    opacity: .3;
    left: 8vw;
    top: 10vw;
}


.sec_3 h4{
    position: relative;
    width: 28vw;
    float: left;
    margin-left: 5vw;
    top: -17vw;
    font-weight: 600;
    font-size: 2.2vw;
}

.sec_3 .horizontal_line{
    position: relative;
    top: -3vw;
    left: 0;
    width: 90%;
    margin-bottom: 0;
    border-bottom: 1px solid white;
}

.sec_3 .bot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: -16vw;
    width: 90vw;
    height: 20vw;
    margin-left: 5vw;
}

.sec_3 .bot .text_container{
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    margin-bottom: 5vw;
}

.sec_3 .bot .text_container .below_white{
    color: white;
    display: flex;
    width: 15vw;
    height: 3vw;
    margin-top: 0vw;
    font-weight: 900;

}

.sec_3 .bot .text_container .below_black{
    float: left;
    display: flex;
    width: 27vw;
    margin-top: 0;
    padding: 0;
    font-weight: 400;
}


@media (max-width: 720px) {
    .instr_title {
        padding-bottom: 0px;
        width: 90vw;
    }

    .instr_title h2 {
        margin-top: 10vw;
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .bg_num {
        font-size: 70px;
        top: 10vw;
    }

    .num1 {
        left: -40vw;
    }

    .section h4 {
        font-size: 20px;
    }

    .sec_1{
        position: relative;
        height: auto;
        margin-bottom: 0vw;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .sec_1 h4{
        font-size: 20px;
    }

    .sec_1 .left{
        width: 100vw;
    }

    .sec_1 .right{
        width: 90vw;
        margin-top: 0;
    }

    .sec_1 .container{
        height: auto;
    }
    .sec_1 .container2{
        height: auto;
    }

    .left .ss1{
        position: relative;
        left: 10vw;
        padding-top: 0;
    }

    .below_orange{
        width: 90vw;
        height: 5vw;
        height: auto;
    }

    .below_black{
        width: 90vw;
        margin-top: 4vw;
        margin-left: 0vw;

    }

    .sec_2{
        height: auto;
        margin-top: -20vw;
        margin-bottom: 0vw;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .left .ss1{
        position: relative;
        left: 10vw;
        padding-top: 0;
    }


    .sec_2 .left{
        width: 90vw;
    }

    .sec_2 .right{   
        margin-top: 0;
    }

    .sec_2 .bg_num{
        width: 100vw;
    }

    .sec_2 .left h4{
        font-size: 20px;
        padding-top: 40vw;
        margin-left: 0vw;
        width: 80vw;
    }

    .sec_2 .bot_container{
        height: auto;
        width: 90vw;
        margin-left: 0vw;;
    }

    .sec_2 .bot{
        width: 90vw;
        margin-left: 0vw;;
    }

    .sec_2 .below_orange{

        width: 90vw;
        height: auto;
        margin-bottom: 0vw;
        margin-top: 3vw;
    }

    .sec_2 .below_black{
        width: 90vw;
        height: auto;
        margin-left: 0vw;
    }

    .ss2_mini{
        display: inline-block;
        position: relative;
        left: 18vw;
        top: 20vw;
    }

    .ss2{
        display: none;
    }

    .congrats{
        height: auto;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .sec_3{
        height: auto;
        overflow-y: visible;
        overflow-x: hidden;
    }

    .sec_3 .top{
        height: auto;
    }

    .sec_3 h4{
        font-size: 20px;
        width: 80vw;
        height: auto;
    }

    .sec_3 .bot{
        height: auto;
    }

    .sec_3 .bot .text_container{
        width: 80vw;
        height: auto;
    }

    .sec_3 .bot .text_container .below_white{

        width: 90vw;
        height: auto;
        margin-bottom: 0vw;
        margin-top: 3vw;
    }

    .sec_3 .bot .text_container .below_black{
        width: 98vw;
        height: auto;
        margin-left: 0vw;
    }
}
