.instructions {
    background-color: #F6EDE1;
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 1.2;
}


.instructions h2, h4, .orange_text{
    color: #FF9B2A;
    font-family: "montserrat-bold";
}

h4 {
    font-size: 30px;
    font-weight: 600;
}


.instr_title {
    width: 49vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.instr_title h2 {
    color: #FF604E;
    font-weight: 600;
    font-size: 4.5vw;
    line-height: 1.2;
    margin-bottom: 2vw;
}

.instr_title img {
    width: 2.5vw;
    height: 2.5vw;
}

.bold{
    font-weight: bold;
    padding-right: 10px;
    padding-top: .3vw;
    margin-left: 1vw;
    margin-bottom: 1vw;
}

.instr_title p{
    font-family: "montserrat";
    padding-top: .3vw;
    margin-left: .3vw;
    margin-bottom: 1vw;
}


.bg_num {
    font-size: 15vw;
    position: relative;
    line-height: 70px;
    opacity: 0.1;
    font-weight: 600;
}

.sec_1 .bg_num {
    top: 10vw;
    left: 0;
}


.sec_1{
    width: 90vw;
    margin-bottom: 10vw;
}

.left{
    width: 30vw;
}
.left .ss1{
    position: relative;
    width: 70vw;
    top: 0vw;
    left: -20vw;
    padding-top: 0;
}


.right{
    float: right;
    width: 52vw;
    margin-top: -35vw;
    display: flex;
    flex-wrap: wrap;
}

.right h4{
    font-weight: 600;
    font-size: 2.2vw;
}


.horizontal_line {
    border-bottom: 4px solid #FF9B2A;
    width: 100%;
    margin-top: 1.5vw;
    margin-bottom: 10px;
}

.sec_1 .container{
    margin-bottom: 3vw;
    height: 23vw;
}

.below_orange{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    color: #FF9B2A;
    width: 10vw;
    font-family: "Montserrat-bold";
    height: 12vw;
}

.below_black{
    margin-top: 1.5vw;
    margin-bottom: -1vw;
    margin-left: 2vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 36vw;
}



/*
//////////////////////////////////
//////// Section 2    ///////////
/////////////////////////////////
*/


.sec_2 .bot{
    float: right;
    width: 52vw;
    margin-top: -33vw;
    display: flex;
    flex-wrap: wrap;
}

.sec_2 .bot h4{
    font-weight: 600;
    font-size: 2.2vw;
}

.left .ss2{
    position: relative;
    width: 47vw;
    top: -8vw;
    left: 50vw;
}

.sec_2{
    margin-top: 20vw;
    position: relative;
}
.sec_2 .left{
    width: 53vw;
    height: 25vw;
}

.sec_2 .left h4{
    position: relative;
    margin-left: 6vw;
    top: -2vw;
    font-weight: 600;
    font-size:2.4vw;
}

.sec_2 .horizontal_line{
    position: relative;
    top: -1vw;
    left: 6vw;
    width: 96%;
    margin-bottom: 0;
}

.sec_2 .bot_container{
    margin-top: -10vw;
    margin-left: 6.5vw;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    height: 35vw;
}

.sec_2 .bot{
    margin-top: 0vw;
    width: 50vw;

}
.sec_2 p{
    max-height: 5vw;
}

.sec_2 .below_orange{
    margin-top: 1.5vw;
    display:flex;
    float: left;
    width: 10vw;
    font-family: "Montserrat-bold";
    height: 7vw;
}

.sec_2 .below_black{
    margin-top: 1.5vw;
    margin-left: 2vw;
    font-weight: 400;
    float:right;
    display: flex;
    width: 32vw;
    max-height: 5vw;
}

/*
////////////////////////////////
//////////// Section 3  ////////
////////////////////////////////
*/

.congrats{
    background-color: #FF604E;
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 1.2;
    height: 60vw;
}


.congrats h2, .congrats h4, .congrats .white_text{
    color: white;
    font-family: "montserrat-bold";
}


.sec_3{
    position: relative;
    width: 100vw;
    height: 20vw;
    margin-top: -5vw;
}

.sec_3 .ss3{
    position: relative;
    width: 90vw;
    top: -10vw;
    margin: auto;
}

.sec_3 .top{
    position: relative;
}

.sec_3 .bg_num{
    color: white;
    opacity: .3;
    left: 8vw;
    top: 10vw;
}


.sec_3 h4{
    position: relative;
    width: 28vw;
    float: left;
    margin-left: 5vw;
    top: -17vw;
    font-weight: 600;
    font-size: 2.2vw;
}

.sec_3 .horizontal_line{
    position: relative;
    top: -3vw;
    left: 0;
    width: 90%;
    margin-bottom: 0;
    border-bottom: 1px solid white;
}

.sec_3 .bot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    top: -16vw;
    width: 90vw;
    height: 20vw;
    margin-left: 5vw;
}

.sec_3 .bot .text_container{
    display: flex;
    flex-wrap: wrap;
    width: 45vw;
    margin-bottom: 5vw;
}

.sec_3 .bot .text_container .below_white{
    color: white;
    display: flex;
    width: 13vw;
    height: 3vw;
    margin-top: 0vw;

}

.sec_3 .bot .text_container .below_black{
    float: left;
    display: flex;
    width: 27vw;
    margin: 0;
    padding: 0;
}


@media (max-width: 750px) {
    .congrats{
        height: 70vw;
        min-height: 250px;
    }

    .sec_1 .right{
        margin-top: -38vw;
    }

    .sec_2 h4{
        margin-top: 5vw;
    }
    .sec_2 .bot_container{
        margin-top: -5vw;
    }

}

/*
@media (max-width: 550px) {
    .congrats{
        height: 90vw;

    }
}

@media (max-width: 420px) {
    .congrats{
        height: 100vw;
    }
}
*/
