.instructions {
    padding-top: 10vh;
}

.bg_num {
    font-size: 150px;
    position: relative;
    line-height: 70px;
    opacity: 0.1;
    font-weight: 600;
}

.num1 {
    bottom: 60vh;
    left: -2.5vw;
}

.num2 {
    bottom: 65vh;
    left: -2.5vw;
}

.num3 {
    bottom: 110vh;
    left: -15vw;
    color: white;
    opacity: 0.2;
}

h2 {
    font-weight: 600;
}

h4 {
    font-size: 30px;
    font-weight: 600;
}

.instr_title {
    width: 50vw;
    padding-bottom: 20vh;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.instr_title h2 {
    font-weight: 600;
}

.instr_title img {
    width: 2.5vw;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10vh;
    align-items: center;
}

.section img {
    max-width: 45vw;

}

.textSide {
    width: 45vw;
}

.lastSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.botSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
}

.botSection > div {
    width: 33vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}
