.instructions {
    padding-top: 10vw;
}

.bg_num {
    font-size: 15vw;
    position: relative;
    opacity: 0.1;
    font-weight: 600;
}

.num1 {
    top: -5vw;
    left: 3.5vw;
}
.image1{
    position: relative;
    left: -8vw;
}

.num2 {
    left: 2.5vw;
}

.num3 {
    top: 9vw;
    left: -11vw;
    color: white;
    opacity: 0.2;
    z-index: 2;
}

h2 {
    font-weight: 600;
}

h4 {
    font-size: 2.2vw;
    font-weight: 600;
}

.instr_title {
    width: 50vw;
    padding-bottom: 10vw;
}

.instr_title div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.instr_title img {
    width: 2.5vw;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10vw;
    align-items: center;
}

.section img {
    width: 50vw;
    z-index: 10;

}

.textSide {
    width: 55vw;
}

#sec1Text{
    display: absolute;
    width: 50vw;
}

.section2{
    margin-left: 7vw;
}


.lastSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 7vw;
    padding-bottom: 7vw;
}

.lastSection h4{
    width: 45vw;
}
.lastSection img {
    width: 50vw;
    z-index: 10;

}

.botSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    margin-top: 2.5vw;
}

.botSection > div {
    width: 33vw;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
}

@media (max-width: 720px) {
    .instr_title {
        padding-bottom: 0px;
        width: 90vw;
    }

    .instr_title h2 {
        font-size: 20px;
    }

    .instr_title img {
        width: 5vw;
        height: 5vw;
    }

    .bg_num {
        font-size: 70px;
        top: 10vw;
    }

    .num1 {
        left: -40vw;
    }

    .section h4 {
        font-size: 20px;
    }

    .textSide {
        width: 90vw;
    }

    #sec1Text {
        width: 90vw;
    }

    .sec1 {
        flex-direction: column;
        align-items: center;
    }

    .section2 {
        flex-direction: column-reverse;
        align-items: center;
        margin-left: 3vw;
    }

    .image1 {
        position: static;
        top: 0px;
        left: 0px;
    }

    .lastSection h4 {
        font-size: 20px;
        width: 80vw;
    }

    .botSection {
        flex-direction: column;
    }

    .botSection div {
        width: 90vw;
        margin-bottom: 5vw;
    }

    .num3 {
        left: -35vw;
    }
}
