body{
  background-color: #333333;
  height: 100%
}

.CSTitle{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10vw;
  vertical-align: text-top;
}

.CSTitle > *{
  color: #FF604E;
}

.CSTitle h1{
  width: 44%;
  font-size: 4vw;
  margin-top: -10vw;
  
}

.white{
  color: white;
}

.infoSection{
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  vertical-align: top;

}

.infoSection > .topic{
  width: 100%;
  margin-bottom: 1vw;
  padding: 1vw;

}

.infoSection > .info{
  width: 33%;
  height: 15vw;
  
}

.infoSection > .smallInfo{
  width: 24%;
}

.infoSection > .largeInfo{
  width: 45%;
}

.overview{
  background-color: #F6EDE1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.overview > h2{
  color: grey;
  margin-left: 4vw;
  padding-top: 5vw;
  width: 100%;
}

.overview > p{
  padding: 4vw;
  width: 40%;
}