.title_container {
    background-color: #F6EDE1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 110vh;
}


nav a{
    color: black;
}

.title{
    padding-left: 8vw;

}

.title_container h1 {
    font-size: 80px;
    font-weight: bold;
    color: #FF604E;
    margin-top: 10vh;
    margin-bottom: 12vh;
    text-align: left;
    width: 60%;
}

.title_container h2 {
    font-size: 40px;
    font-weight: bold;
    color: tan;
    margin-top: 5vh;
    margin-bottom: 7vh;
    text-align: left;
    width: 30%;
}

.post_title{
    background-color: #FF9B2A;
    padding-left: 8vw;
    height: 100vh;

}

.post_title h2{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-left: 50vw;
    margin-right: 8vw;
    padding-top: 20vh;
    line-height: 1.5;
}

.community_futures{
    height: 150vh;
    padding-left: 8vw;
    background-color: white;
    line-height: 1.4;

}

.community_futures h1{
    font-size: 80px;
    font-weight: bold;
    color: #FF9B2A;
    margin-top: 12vh;
    margin-bottom: 12vh;
    text-align: left;
    width: 65vw;
}

.community_futures h3{
    font-size: 32px;
    color: #333333;
    margin-top: 7vh;
    margin-bottom: 12vh;
    text-align: left;
    width: 50vw;
}

.stepping_stones{
    height: 200vh;
    padding-left: 8vw;
    background-color: #FF604E;
    line-height: 1.4;
    color:white;
}

.stepping_stones h1{
    font-size: 80px;
    font-weight: bold;
    padding-top: 40vh;
    margin-bottom: 12vh;
    text-align: left;
    width: 65vw;
}

.stepping_stones h2{
    font-size: 42px;
    margin-top: 7vh;
    margin-bottom: 12vh;
    text-align: left;
    width: 65vw;
}

.stepping_stones ul{
    width: 60vw;
    font-size: 26px;
}

.stepping_stones h3{
    font-size: 40px;
    margin-top: 7vh;
    margin-bottom: 12vh;
    text-align: left;
    width: 50vw;
}

.stepping_stones a{
    margin-top: 9vh;
    padding: 3vh 5vw;
    font-size: 26px;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
}