.title_container {
    background-color: #F6EDE1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vw;
    z-index:0;
}


nav a{
    color: #555555;
}

.title{
    padding-left: 5vw;
    z-index: 1;

}

.title h1{
    position: relative;
    font-weight: bold;
    color: #FF604E;
    margin-top: 8vw;
    margin-bottom: 6vw;
    text-align: left;
    width: 60%;
    z-index: 5;
}

.title h2{
    position: relative;
    font-size: 2.75vw;
    font-weight: bold;
    color: rgb(182, 144, 121);
    margin-top: 10vw;
    margin-bottom: 7vh;
    text-align: left;
    line-height: 1.4;
    width: 30%;
    z-index: 5;
}

.leaf_tan{
    position: absolute;
    /*
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
    -moz-filter: brightness(95%);
    -o-filter: brightness(95%);
    -ms-filter: brightness(95%);
    */
    width: 30vw;
    height: 42vw;
    top: 15vw;
    left: 15vw;
    z-index: 1;
}

.homepage_revised{
    position: absolute;
    width: 70vw;
    height: 40vw;
    top: 9vw;
    right:-7vw;
    z-index: 2;
}

.homepage_lea{
    position: absolute;
    width: 32vw;
    height: 2.5vw;
    top: 50vw;
    right:-2vw;
    z-index: 5;
}

.post_title{
    background-color: #FF9B2A;
    padding-left: 8vw;
    height: 45vw;

}

.post_title h2{
    position: relative;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    margin-left: 50vw;
    margin-right: 8vw;
    padding-top: 10vw;
    line-height: 1.5;
    z-index: 5;
}

.post_title .flowers{
    position: absolute;
    width: 42vw;
    height: 48vw;
    top: 63vw;
    margin-left:-4vw;
    z-index: 1;
    box-shadow: 3px 3px 15px rgb(104, 104, 104);
}

/*
///////////////////////
    community section
//////////////////////
*/


.community_futures{
    position: relative;
    height: 90vw;
    padding-left: 8.5vw;
    background-color: white;
    line-height: 1.4;

}

.community_futures h1{
    font-weight: bold;
    color: #FF9B2A;
    margin-top: 6vw;
    margin-bottom: 5vw;
    text-align: left;
    width: 65vw;
    font-family: 'Montserrat-bold';
}

.community_futures h3{
    font-size: 1.60vw;
    color: #333333;
    margin-top: 5vw;
    margin-bottom: 4vw;
    text-align: left;
    width: 40vw;
    font-family: "montserrat-light";
    font-weight: 500;
}

.community_futures .people_talking{
    position: absolute;
    width: 75vw;
    height: 53vw;
    left: 0;
    bottom: 0;
}

.community_futures .girl{
    position: absolute;
    width: 35vw;
    height: 47vw;
    left: 60vw;
    bottom: -23vw;
    z-index: 10;
}

/*
///////////////////////
    Stepping stones section
//////////////////////
*/

.stepping_stones{
    position: relative;
    height: 100vw;
    max-height: 200vh;
    padding-left: 9vw;
    background-color: #FF604E;
    line-height: 1.4;
    color:white;
    z-index: 0;
}

.stepping_stones h4{
    position: absolute;
    z-index: 1;
    font-size: 550px;
    font-weight: 900;
    opacity: .2;
    left:-6vw;
    top:-15vh;   
}

.stepping_stones h1{
    font-weight: bold;
    padding-top: 20vw;
    margin-bottom: 7vw;
    text-align: left;
    width: 65vw;
    z-index: 5;
    text-shadow: 3px 3px 10px rgba(83, 83, 83, 0.644);
}

.stepping_stones h2{
    font-size: 2.75vw;
    margin-top: 3vw;
    margin-bottom: 4vw;
    text-align: left;
    width: 75vw;
    font-family: "montserrat-light";
    font-weight:400;
}

.stepping_stones ul{
    width: 60vw;
    font-size: 1.75vw;
}

ul li:before {
    content: "• ";
    font-size: 2vw;
    font-weight: bolder;
    padding-right: 30px;
}

.stepping_stones h3{
    position: relative;
    z-index: 5;
    font-size: 2.9vw;
    margin-top: 8vw;
    margin-bottom: 6vw;
    text-align: left;
    width: 52vw;
    font-family: "montserrat-light";
    font-weight:400;
}

.stepping_stones .red_lea{
    position: absolute;
    z-index: 0;
    width: 50vw;
    height: 7.5vw;
    top: 67vw;
    left: 53vw;
    opacity: .3;
}
.stepping_stones a{
    margin-top: 5vw;
    padding: 3vh 5vw;
    font-size: 2vw;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
}

.stepping_stones a:hover{
    background-color: white;
    color: #FF604E;
}

/*
///////////////////////
    More info section
//////////////////////
*/



.more_info{
    padding: 5vw 5vw;
    background-color: white;
}



.our_approach_container{
    position: relative;
    height: 45vw;
    width: 87vw;
    align-content: center;
    margin-left: 1vw;
    margin-bottom: 5vw;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
        url(../assets/Homepage/girl_with_post.jpeg);
    background-size: 87vw 60vw;
    background-position-y: -7vw;
}

.our_approach_container h2{

    font-weight: bold;
    color: white;
    padding-top: 17vw;
    padding-bottom: 7vw;
    padding-left: 10vw;
    text-align: left;
    width: 100vw;
}

.our_approach_container a{
    background-color: #FF604E;
    margin-top: 20vw;
    margin-left: 10vw;
    padding: 2vh 2vw;
    font-size: 1.75vw;
    color: white;
    border: 1px solid #FF604E;
    border-radius: 40px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
    font-family: "montserrat-light";
    font-weight: bold;
}

.our_approach_container a:hover{
    background-color: white;
    color: #FF604E;
}


.stories_container{
    position: relative;
    height: 42vw;
    width: 87vw;
    align-content: center;
    margin-left: 1vw;
    margin-bottom: 3vw;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
        url(../assets/Homepage/girl_with_post.jpeg);
    background-size: 87vw 60vw;
    background-position-y: -7vw;
}

.stories_container h2{
    font-weight: bold;
    color: white;
    padding-top: 17vw;
    padding-bottom: 7vw;
    padding-left: 10vw;
    text-align: left;
    width: 100vw;
}

.stories_container a{
    background-color: #FF9B2A;
    margin-top: 35vh;
    margin-left: 10vw;
    padding: 2.5vh 4vw;
    font-size: 1.75vw;
    color: white;
    border: 1px solid #FF9B2A;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
    font-family: "montserrat-light";
    font-weight: bold;
}

.stories_container a:hover{
    background-color: white;
    color: #FF9B2A;
}

.orange_lea{
    position: absolute;
    width: 45vw;
    height: 12vw;
    left: 60vw;
    bottom: 4.5vw;
}