.body{
    position: fixed;
}

.title_container{
    background-image: url(../assets/OurApproach/our_approach_header.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    margin-bottom: 0;
    /*padding-bottom: 12vh;*/
    height: 45vw;
    position: relative;
    /*font-family: 'Montserrat', sans-serif;*/
}

html {
    scroll-behavior: smooth;
}

.title{
    display:flex;
    flex-wrap: wrap;
}

.title_container h1{
    color: white;
    width: 100vw;
    text-align: center;
    padding-top: 11vw;
    /*font-size: 100px;*/
    margin-bottom: 0;
}

#SS_scroll{
    display:flex;
    margin: auto;
    margin-top: 3vw;
    padding: 1.2vw;
    font-size: 2vw;
    color: white;
    border: 1px solid white;
    border-radius: 40px;
    text-decoration: none;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
}

#SS_scroll:hover{
    color: navy;
    background-color: white;
    border-color: navy;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
}

.purpose_title{
    margin-top: 0;
    background-color: #F6EDE1;
    padding-left: 7vw;
    display: flex;
    flex-direction: row;
    position: relative;
}

.purpose_title h1{
    margin-top: 0;
    margin-bottom: 5vw;
    padding-top: 10vw;
    /*font-size: 84px;*/
    color: #FF604E;
}

.purpose_title p{
    width: 55vw;
    /*font-size:30px;*/
    color: #222222;
    line-height: 1.4;
    font-family: 'Montserrat-light';
    font-weight: 900;
    margin-bottom: 14vw;
    font-size: 1.6vw;
    line-height: 1.5;
}

/*
//////////////////////////////////////
    Our values
//////////////////////////////////////
*/

.core_values{
    margin-top: -10vw;
    background-color: #F6EDE1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 5vw;
    position: relative;
    overflow: hidden;
}

.sideways_subheader {
    display: flex;
    font-size: 2.5vw;
    color: #FF604E;
    /*writing-mode: vertical-rl;
    text-orientation: sideways-right;*/
    height: 1vw;
    transform: rotate(270deg);
    position: relative;
    top: 36vw;
    left: -43vw;
    font-weight: bolder;
}

.sideways_subheader div {
    width: 42vw;
    border-bottom: 2px solid #FF604E;
    height: 1.3vw;
    margin-right: 20px;
}

.value_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85vw;
    margin-left: 5vw;
}

.value{
    justify-content: space-evenly;
    margin-top: 2vw;
    margin-bottom: 4vw;
    width: 24vw;
    height: 25vw;
    font-size: 2.2vw;
    text-align: center;
    background: white;
    border: 2px white;
    box-shadow: 0 0 15px 18px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
}

.value p{
    width: 20vw;
    margin: auto;
}

.value:hover{
    width: 25vw;
    font-size: 2.4vw;
    box-shadow: 0 0 7px 4px rgba(0, 218, 171, 0.719);
    transition: width 0.5s linear, box-shadow 0.5s linear,
                font-size 0.5s linear;
}

.value img {
    margin: auto;
    width: 22vw;
}

.value h3{
    color: #00DAA9;
    font-size: inherit;
    font-family: "montserrat-bold";
    font-weight: 400;
    /*font-size: 2.2vw;*/
}

/*
.small h3{
    margin-top: 1vw;
    margin-bottom: .1vw;
}

.wisdom h3{
    margin-top: 0;
    margin-bottom: 1vh;
}

.wisdom img{
    left: -100vw;
}
*/

.value p{
    padding: 1vw 2vw 0 2vw;
    line-height: 1.4;
    font-size: 1.15vw;
    font-weight: 400;
}

.leaf{
    position: absolute;
    width: 20vw;
    height: 30vw;
    z-index: 1;
    top: 30vw;
    right: -9vw;

    /*
    filter: brightness(95%);
    -webkit-filter: brightness(95%);
    -moz-filter: brightness(95%);
    -o-filter: brightness(95%);
    -ms-filter: brightness(95%);
    */
}

/*
//////////////////////////////
    Stories header
/////////////////////////////
*/

.stories_header{
    background-image: url(../assets/OurApproach/map-crop.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    text-align: center;
    height: 40vw;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.stories_title_container{
    padding-top: 5vh;
}

.stories_header h1{
    padding:5px;
    font-size: 4vw;
    color: white;
    align-self: auto;
    width: 100vw;
}

.stories_header a{
    margin-top: 6vw;
    padding: 25px;
    font-size: 2vw;
    color: #FF604E;
    border: 1px solid #FF604E;
    border-radius: 40px;
    text-decoration: none;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
}

.stories_header a:hover {
    color: white;
    background-color: #FF604E;
}


/*
//////////////////////////////
    Stepping Stones
/////////////////////////////
*/

.stepping_stones_header{
    margin-left: 7vw;
    position: relative;
}

.stepping_stones_header h1{
    padding-top: 9vw;
    display: inline-block;
    margin-bottom: 3vw;
    width: 50vw;
    color: #00DAA9;

}

.stepping_stones_header .map{
    top: -5vw;
    width: 47vw;
    height:50vw;
    position: absolute;
    /*
    min-height: 400px;
    min-width: 400px;
    */

}

.stepping_stones_header p{
    padding: 2vh 0 2vh;
    width: 35vw;
    color: #333;
    font-weight: 400;
}

.stepping_stones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vw;
    margin-bottom: 5vw;
    /*margin-left: 5vw;*/
}

.stepping_stones .steps{
    margin: 2.5vw;
    width: 25vw;
    font-size: 1.75vw;
    text-decoration: none;
    /*margin-right:auto;*/
    transition: filter 0.5s linear, width 0.5s linear,
        margin-bottom 0.5s linear, box-shadow 0.5s linear;
    /*
    transition-duration: 0.3s;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    */
}

.steps:hover {
    box-shadow: 0 0 15px 2.5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 15px 2.5px rgba(0, 0, 0, 0.5);
}

.stepping_stones .brighten:hover{
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
    -moz-filter: brightness(120%);
    -o-filter: brightness(120%);
    -ms-filter: brightness(120%);

}

.stepping_stones .darken:hover{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -o-filter: brightness(80%);
    -ms-filter: brightness(80%);
}

.color_border_r:hover{
    box-shadow: 0 0 15px 2.5px #FF604E;
    -webkit-box-shadow: 0 0 15px 2.5px #FF604E;
}

.color_border_g:hover{
    box-shadow: 0 0 15px 2.5px #00DAA9;
    -webkit-box-shadow: 0 0 15px 2.5px #00DAA9;
}

.color_border_p:hover{
    box-shadow: 0 0 15px 2.5px #463489;
    -webkit-box-shadow: 0 0 15px 2.5px #463489;
}

.enlarge:hover{
    width: 28vw;
    margin-bottom: .5vw;
    font-size: 1.75vw; /*not working*/
}

.stepping_stones .black{
    background-color: rgb(48, 48, 48);
    width: inherit;
    font-size: inherit;
    height: 7vw;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    -o-filter: brightness(100%);
    -ms-filter: brightness(100%);
}

.stepping_stones p{
    padding: 5%; /* used to be 20px */
    /*width: 350px;*/
    font-size: inherit;
    color: white;
    line-height: 1.4;
    font-family: "montserrat-medium";
}

.stepping_stones img {
    width: 100%;
}


/*
///////////////////////////////////////
    Tablet Size Changes
///////////////////////////////////////
*/





@media (max-width: 1100px) {

    .purpose_title h1{
        font-size: 5vw;
    }

    .purpose_title p{
        width: 85%;
        font-size: 2vw;
        margin-bottom: 10vw;
    }
    .sideways_subheader {
        display: flex;
        font-size: 3.5vw;
        color: #FF604E;
        /*writing-mode: vertical-rl;
        text-orientation: sideways-right;*/
        height: 5vw;
        width: 250vw;
        transform: rotate(270deg);
        position: relative;
        top: 78vw;
        left: -43vw;
        font-weight: bolder;
        white-space: nowrap;
    }

    .sideways_subheader div {
        width: 110vw;
        border-bottom: 2px solid #FF604E;
        height: 1.5vw;
        margin-right: 20px;
    }


    .value{
        justify-content: space-evenly;

        width: 36vw;
        height: 35vw;
        font-size: 3vw;
        text-align: center;
        background: white;
        border: 2px white;
        box-shadow: 0 0 15px 18px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1;
    }

    .value:hover{
        width: 38vw;
        font-size: 3.2vw;
        box-shadow: 0 0 7px 4px rgba(0, 218, 171, 0.719);
        transition: width 0.5s linear, box-shadow 0.5s linear,
                    font-size 0.5s linear;
    }

    .value img {
        margin: auto;
        width: 30vw;
    }

    .value h3{
        color: #00DAA9;
        font-size: inherit;
        font-family: "montserrat-bold";
        font-weight: 400;
    }
    .value p{
        padding: 2vw 2vw 0 2vw;
        line-height: 1.4;
        font-size: 1.9vw;
        font-weight: 400;
        width: 32vw;
        margin: auto;
    }

    .leaf{
        position: absolute;
        width: 23vw;
        height: 37vw;
        max-height: none;
        z-index: 1;
        top: 80vw;
        right: -10vw;

    }

    /*
    ////////////////////////////////////
    ////   Tablet size Stepping Stones /
    ////////////////////////////////////
    */

    .stepping_stones_header p{
        font-size: 1.9vw;
        font-weight: 500;
        width: 40vw;
    }
    .stepping_stones_header .map{
        top: -2vw;
    }

    .stepping_stones .black{
        background-color: rgb(48, 48, 48);
        width: 40vw;
        height: 10vw;

    }


    .stepping_stones p{
        padding-top: 5%;
        font-size: 2.3vw;
    }

    .stepping_stones .steps{
        /*margin-top: 80px;*/
        /*margin-bottom: 40px;*/
        margin: 2.5vw;
        width: 40vw;
        /*margin-right:auto;*/
        /*
        transition-duration: 0.3s;
        transition-property: box-shadow;
        -webkit-transition-duration: 0.3s;
        -webkit-transition-property: box-shadow;
        */
    }

    /*
    /////////////////////////////////////
    ///   misc ////////////////////////
    ///////////////////////////////////////
    */
    .stories_header a{
        margin-top: 6vw;
        padding: 15px
    }

}
