.title_container{
    background-image: url(../assets/Stories/stories-map.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    margin-bottom: 0;
    /*padding-bottom: 12vh;*/
    height: 44vw;
    font-family: sans-serif;
}

.title_container h1{
    padding-top: 12vw;
    text-align: center;
    color: white;
    font-size: 3vw;
    line-height: 1.4;
    font-weight: bold;
}

.intro{
    background-color: rgb(44, 42, 49);
    font-size: 6vw;
    color: white;
    padding: 8vw;
    display: flex;
    flex-wrap: wrap;
}

.intro h1{
    position: relative;
    top: -11.5vw;
    width: 40vw;
    height: 16vw;
    line-height: 1.2;
    font-size: 5vw;
    text-shadow: 0 0 2vw black;
}
.intro h2{
    width: 40vw;
    font-size: 5vw;
    text-decoration: underline #FF604E;
    text-shadow: 0 0 2vw black;
}

.intro p{
    padding-top: 1.5vw;
    color: #bbbbbb;
    font-size: 1.5vw;
    font-family: "montserrat-medium";
    width: 36vw;
    line-height: 1.5;
}

.intro a{
    margin-left: 40vw;
    margin-top: 3vw;
/*    padding: 1.7vw 3.2vw;

    border: .1vw solid;
    border-radius: 5vw;
    text-decoration: none;*/
}

.intro .stepping_stones{
    color:#FF604E;
    border-color: #FF604E;
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
}

.stepping_stones:hover {
    color: white;
    background-color: #FF604E;
}

/*.coral_bt_inv:hover {
    border-color: #FF604E;
}*/

.intro .tell_us_your_story{
    color: rgb(116, 99, 228);
    border-color: rgb(116, 99, 228);
    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;
}

 .tell_us_your_story:hover{
    color: white;
    background-color: rgb(116, 99, 228);
}

.purple_bt_inv {
    color: rgb(116, 99, 228);
    border-color: rgb(116, 99, 228);
}

.purple_bt_inv:hover{
    border-color: rgb(116, 99, 228);
    background-color: rgb(116, 99, 228);
}

/*
/////////////////////////
    Featured Stories
/////////////////////////
*/

.featured_stories{
    padding: 5vw 5vw 5vw 8vw;
    color: #FF9B2A;
    display: flex;
    flex-wrap: wrap;
}

.featured_stories h1{
    font-size: 4vw;
    width: 100vw;
    margin-bottom: 5vw;
}

.lea{
    float:left;
    width: 40vw;
    margin-right: 30vw;
    margin-bottom: 10vw;
}

.featured_stories h2{
    float:left;
    font-size: 3vw;
    width: 30vw;
}

.spreadsheet{
    float:right;
    display: flex;
    text-align: center;
    margin-right: 10vw;
/*    width: 25vw;
    color: #FF9B2A;
    font-size: 2.5vw;
    text-align: center;
    margin-right: 10vw;

    padding: 1vw 1.5vw 1vw 1.5vw;

    border: 2px solid;
    border-radius: 4vw;
    text-decoration: none;

    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;*/
}

/*.spreadsheet:hover{
    color: white;
    background-color: #FF9B2A;
}*/

/*
//////////////////////
    Our Approach
//////////////////////
*/

.approach{
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
                url(../assets/Stories/stories-approach.jpg);
    background-size: 100vw;
    background-repeat: no-repeat;
    margin-bottom: 0;
    /*padding-bottom: 12vh;*/
    height: 15vw;
    font-family: sans-serif;
    align-content: center;
    padding:8vw;
    display: flex;
    flex-wrap: wrap;
}

.approach h1{
    color: white;
    font-size: 2.5vw;
    text-align: center;
    padding-top: 2vw;
    width: 100vw;
    line-height: 1.4;
    font-weight: bold;
}

.approach a{

/*    color: #00DAA9;
    font-size: 1.85vw;*/
    margin:auto;
    margin-top: 5vw;
/*    padding: 1.7vw 3.2vw 1.7vw 3.2vw;

    border: .1vw solid;
    border-radius: 5vw;
    text-decoration: none;

    transition-duration: 0.7s;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: color, background-color;*/
}

/*.approach a:hover{
    color: white;
    background-color: #00DAA9;
}*/

@media (max-width: 720px) {
    .title_container {
        height: 50vw;
        background-size: 100vw 50vw;
    }

    .title_container h1 {
        font-size: 20px;
        padding-top: 5vw;
        line-height: 20px;
    }

    .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro h1 {
        position: static;
        font-size: 20px;
        line-height: 1;
        align-self: flex-start;
    }

    .intro h2 {
        align-self: flex-start;
        position: static;
        font-size: 18px;
    }

    .intro p {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 16px;
        width: 80vw;
    }

    .intro a {
        margin-left: 0px;
        margin-top: 7vw;
    }

    .featured_stories {
        padding-left: 5vw;
    }

    .featured_stories h1{
        font-size: 20px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lea {
        margin-right: 0px;
        float: none;
        margin-bottom: 5vw;
        width: 80vw;
    }

    .featured_stories h2 {
        font-size: 18px;
        float: none;
        width: 60vw;
        align-self: flex-start;
        margin-bottom: 5vw;
    }

    .featured_stories a {
        font-size: 16px;
        margin: 0px;
        margin-left: 10vw;
        border-radius: 50px;
    }

    .approach {
            height: auto;
            background-size: 100vw 70vw;;
    }

    .approach h1 {
        font-size: 20px;
    }

    .approach a {
        font-size: 16px;
    }
}
